ul {
	list-style-type: none;
	margin-left: -15%;
}

ul li{
	margin-bottom: 2rem;
	
}



ul li a:link {
	text-decoration: none;
	list-style-type: none;
	color: black;
}

ul li a:visited {
	text-decoration: underline;
	list-style-type: none;
	color: #EB4F31;
}

ul li a:hover {
	text-decoration: none;
	list-style-type: none;
	color: #EB4F31;
}

ul li a:active {
	text-decoration: none;
	list-style-type: none;
	color: #B91F01;
}

.column{
	background-color: #F4D657;
}

.first{
	font-size: 80%;
	margin-bottom: 30px;
}



@media only screen and (max-width: 600px){
	.full{
		display: none;
	}
	ul{
		margin-bottom: 0;
		margin-left: -50px;
	}
	img{
		margin-left: 100px;
	}
}



@media only screen and (min-width: 600px){
	.mini{
		display: none;
		
	}
	
}
