body{
	background-color: rgba(244,214,87,0.49);
}

h3{
	text-align: center;
}

a{
	color: #EB4F31;
}

a:hover{
	color: black;
}

@media screen and (max-width: 900px) {
  img {
    display: none;
	 
  }
	h3{
		text-align: left;
	}
	
}
